div {
    margin-bottom: 10px;
    
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    background-color: #00D563;
  }

  .container {
    display: flex;
    flex-direction: column;
    // padding-top: 5px;
    // padding-bottom: 30px;
    // flex-direction: column;
    // text-align: center;
  }

  .content {
    margin-left: 20px;
  }

  .text {
    text-align: start;
    // margin-top: 50px;
  }

@media (min-width: 768px) {
    .content {
      margin-left: 40px;
    }
  }

  // .row {
  //   margin: 105px;
    
  // }