<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="text">
                <h1 style="margin-top: 35px;">You need a partner.<br><span style="color: #00D563;">We're here to help.</span></h1>
                <p style="margin-top: 15px;">Before we start, we would like to better understand your needs.We'll review your application and schedule a free estimation call.</p>
                <h3>Join the global innovators</h3>
            </div>
        </div>
        <div class="col-md-5" style="margin-top: 25px;">
            <app-contact-form></app-contact-form>
        </div>
    </div>
</div>