.form {
    background-color: #f2f5f7;
    text-align: start;
    padding: 19px;
    font-size: 13px;
    width: min-content;
    margin-bottom: 100px;
    margin-left: 20px;
    // padding: 50px;
    // font-weight:bolder;
}


.Estimate-btn {
    width: 260px;
    background-color: #00D563;
    border-color: none;
    margin-top: 10px;
  }
