.navbar-nav {
  margin: auto;
  align-items: center;
  gap: 50px;
  // padding-left: 10px;
}

.Estimate-btn {
  background-color: #c9f6c8;
  display: block;
  margin: 20px auto;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  margin-left: 20px;
  text-decoration: none;
}

.Estimate-btn:hover {
  background-color: #00D563;
}


.logo {
  height: 40px;
}


@media (max-width: 600px) {

  .navbar-nav {
    align-items: start;
    gap: 10px;
    margin: 0px;
    margin-top: 25px;

  }

  .navbar-brand {
    padding-left: 0px;
    align-items: center;
  }

  .Estimate-btn {
    margin-left: 120px;
    background-color: #00D563;
  }

  .nav-logo {
    display: none;
  }

}