<div class="content poppins-thin">
    <h1>Web Development Services</h1>
    <span>We design and build industry-leading web-based products that bring value to your customers,<br> delivered
        with compelling UX.</span>
</div>
<button class="Main-btn">Let's work together</button>
<div class="container poppins-thin" style="margin-top: 80px;">
    <div class="col-md-6 roboto-thin">
        <p><b>What are <br><span style="color: #00D563;"><b>web development services?</b></span></b></p>
    </div>
    <div class="col-md-6" style="text-align: start;">
        <p>Web development encompasses a wide range of services,<br> which include <b>websites or web apps,
                cybersecurity solutions, <br>UX/UI design, eCommerce solutions, website architectures,<br> QA testing,
                maintenance, consulting, and even a custom CMS.</b></p>
        </div>
    </div>
<div class="first-template poppins-thin" style="margin-top: 80px;">
    <div style="text-align: center; margin-top: 120px;">
        <h2>
            Achieve your business goals <b><span style="color: #00D563;">with web development solutions</span>
            </b></h2>
        <p>Our battle-tested developers specialize in a wide range of web development services. Here are some of the
            <br>solutions that we can deliver for you.
        </p>
    </div>
    <div class="container my-5">
        <div class="row text-center">
            <div class="col-md-3">
                <img src="./assets/globe.png" alt="website" class="img-fluid mb-3">
                <h3>Websites</h3>
                <p>A well-designed website is a powerful marketing and communication tool that helps build trust and
                    generate leads.</p>
            </div>
            <div class="col-md-3">
                <img src="./assets/shoppingbag.png" alt="Ecommerce" class="img-fluid mb-3">
                <h3>Ecommerce</h3>
                <p>With eCommerce solutions, businesses can operate 24 hours a day, 7 days a week, and reach customers
                    in any time zone.</p>
            </div>
            <div class="col-md-3">
                <img src="./assets/app-development.png" alt="Web Applications" class="img-fluid mb-3">
                <h3>Web Applications</h3>
                <p>Web applications can reach a global audience. They're interactive and engaging, so can easily hold
                    users' attention.</p>
            </div>
            <div class="col-md-3">
                <img src="./assets/content-management1.png" alt="Content Management System" class="img-fluid mb-3">
                <h3>CMS</h3>
                <p>A dedicated CMS designed to the specific needs of your business will save time and money by
                    optimizing internal workflows.</p>
            </div>
        </div>
    </div>
    <div class="text-center my-5">
        <b><a href="#" class="text-dark"><u>Schedule a free expert session</u></a></b>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <img src="./assets/NG-Website.png" alt="web-development" class="image">
        </div>
        <div class="col-md-6" style="text-align: start;">
            <h3 class="font-weight-bold">Become a digital stand-out with a <span style="color: #00D563;"> <b>best
                    in-class web development company</b></span></h3>
            <br>
            <p>At Netguru, we offer every web development service you need to build a full-blown web-based product,
                such as:</p>
            <ul class="list">
                <li>Website Development</li>
                <li>Web Application Development</li>
                <li>eCommerce Solutions Development</li>
                <li>Dedicated Content Management System Development</li>
                <li>No-code Development & Low-code Development</li>
                <li>Ideation - Market Research - Wireframing - Prototyping</li>
                <li>Project Management - UI Design - UX Design - Coding - QA Testing</li>
                <li>Cybersecurity - Consulting - Publishing - Maintenance - Support</li>
            </ul>
            <p>The role of a web development company is to seek and build solutions that can best fulfill the
                client’s unique business goals. With the right web development services, you’ll be able to build a
                successful product from scratch or increase the performance of an existing one.</p>
        </div>
    </div>
</div>

<div class="container3">
    <h3><b><span style="color: #00D563;">Which technologies will bring maximum value</span> <br>to your
            business?</b></h3>
</div>
<div class="para2">
    <p> Solve customer problems by choosing cutting-edge
        technologies for your tech stack. <br>Take your business to the
        next level with the right solutions tailored to your own requirements.</p>
</div>
<div class="container my-5">
    <div class="row text-center">
        <div class="col-md-3 card">
            <img src="./assets/improvement.png" alt="Frontend Development" class="img-fluid mb-3">
            <div class="body">
            <h4>Frontend Development</h4>
            <p>We use the most popular frontend frameworks like React.js, Vue.js, and Angular that enable us to
                create the surface layer of your product.</p>
            </div>
        </div>
        <div class="col-md-3 card">
            <img src="./assets/backend.png" alt="Backend Development" class="img-fluid mb-3">
            <h4>Backend Development</h4>
            <p>With eCommerce solutions, businesses can operate 24 hours a day, 7 days a week, and reach customers
                in any time zone.</p>
        </div>
        <div class="col-md-3 card">
            <img src="./assets/coding.png" alt="Full Stack Development" class="img-fluid mb-3">
            <h4>Full Stack Development</h4>
            <p>Web applications can reach a global audience. They're interactive and engaging, so can easily hold
                users' attention.</p>
        </div>
        <div class="col-md-3 card">
            <img src="./assets/low-code-development.png" alt="Low-Code Development" class="img-fluid mb-3">
            <h4>Low-Code Development</h4>
            <p>A dedicated CMS designed to the specific needs of your business will save time and money by
                optimizing internal workflows.</p>
        </div>
    </div>
</div>
<div class="text-center my-5">
    <b><a href="#" class="text-dark"><u>Schedule a free expert session</u></a></b>
</div>
<div class="container py-5">
    <!-- <div class="row"> -->
        <div class="col-md-6 font-weight-bold">
            <p><b><span style="color: #00D563;">Take advantage of our proven web development process</span> <br>and
                 make your project a success
            </b></p>
        </div>
        <div class="col-md-6">
            <p style="text-align: start;">We recognize that the most complex projects demand that our web development team pay attention to
                every detail in the process of creating web-based solutions. At Netguru, we’ve delivered over 1000
                projects, so we know what it takes to execute a seamless and optimized web-based software
                development process.</p>
        </div>
    </div>
<!-- </div> -->