/* Font Styles */
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: small;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.video-background {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

#bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  background-size: cover;
}


.rich-text {
  color: white;
}

/* General Styles */
.content {
  padding-top: 70px;
  /* Adjust according to navbar height */
  padding-bottom: 60px;
  /* Adjust according to footer height */
  text-align: center;
}

.Main-btn {
  background-color: #00D563;
  /* Change to blue color if needed */
  display: block;
  margin: 0 auto;
  color: black;
  /* Text color */
  padding: 10px;
  /* Padding for button */
  border: none;
  /* Remove border */
  border-radius: 5px;
  /* Rounded corners */
  font-size: 12px;
  /* Font size */
  margin-bottom: 20px;
  cursor: pointer;
  /* Cursor style */
}

.para2 {
  // width: 700px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  background: linear-gradient(90deg, #ff7e5f, #feb47b, #86a8e7, #91eae4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-align: center;
  margin: 50px 0;
}

.container {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 30px;
  flex-direction: column;
  text-align: center;
}

.container3 {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 30px;
  flex-direction: column;
  text-align: center;
}


.container1 {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.card {
  display: block;
  border: none;
  // border-radius: 50px 50px;
  // border-color: #feb47b;
}

ul {
  list-style-type: disc;
  /* Default disc type */
}

ul li {
  position: relative;
  /* To position the custom bullet */
  list-style-type: disc;
  margin-bottom: 15px;
  font-size: smaller;
}

.first-template {
  background-color: #d5e9ec5d;
  padding-top: 80px;
  padding-bottom: 50px;
  padding: 20px;
}

.secend-template {
  text-align: center;
}

/* Grid Containers */
.grid-container,
.grid-container1 {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding: 30px 0;
  gap: 20px;
}

.img-fluid {
  width: 80px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.image {
  width: 80%;
  height: auto;
}

.icon:hover {
  transform: scale(1.2);
}

.list {
  text-align: start;
}

/* Media Queries */
@media (min-width: 768px) {
  .container {
    flex-direction: row;

    .row {
      padding-right: calc(var(--bs-gutter-x) * 0.5);
      padding-left: calc(var(--bs-gutter-x) * 3.5);
      margin-top: var(--bs-gutter-y);
    }
  }
}

@media (max-width: 600px) {

  .grid-container,
  .grid-container1 {
    grid-template-columns: 1fr;
    padding: 20px;
    width: 100%;
  }

  .img1 {
    width: 260px;
  }
  .para2 {
    width: auto;
    text-align: start;
    margin-left: 10px;
  }
}