<div class="content poppins-thin">
    <h1>Web Development Services</h1>
    <span>We design and build industry-leading web-based products that bring value to your customers, delivered
        with<br>compelling UX.</span>
</div>
<button class="Estimate-btn">Let's work together</button>
<div class="container poppins-thin">
    <div class="content1 roboto-thin">
        <p><b>What are <br><span style="color: green">web development services?</span></b></p>
    </div>
    <div class="content2 poppins-thin">
        <p>Web development encompasses a wide range of services,<br> which include <b>websites or web apps,
                cybersecurity solutions, <br>UX/UI design, eCommerce solutions, website architectures,<br> QA testing,
                maintenance, consulting, and even a custom CMS.</b></p>
    </div>
</div>
<div class="first-template poppins-thin">
    <div style="text-align: center;">
        <h2>
            Achieve your business goals <span style="color: green;">with web development solutions</span>
        </h2>
        <p>Our battle-tested developers specialize in a wide range of web development services. Here are some of the
            <br>solutions that we can deliver for you.
        </p>
    </div>
    <div class="grid-container">
        <div class="grid-item">
            <img src="./assets/globe.png" alt="website" class="icon">
            <h3>Websites</h3>
            <p class="para">A well-designed website is a powerful marketing and communication tool that helps build
                trust and generate leads.</p>
        </div>
        <div class="grid-item">
            <img src="./assets/shoppingbag.png" alt="Ecommerce" class="icon">
            <h3>Ecommerce</h3>
            <p>With eCommerce solutions, businesses can operate 24 hours a day, 7 days a week, and reach customers in
                any time zone.</p>
        </div>
        <div class="grid-item">
            <img src="./assets/app-development.png" alt="Web Applications" class="icon">
            <h3>Web Applications</h3>
            <p>Web applications can reach a global audience. They're interactive and engaging, so can easily hold users'
                attention.</p>
        </div>
        <div class="grid-item">
            <img src="./assets/content-management1.png" alt="Content Management System" class="icon">
            <h3>CMS</h3>
            <p>A dedicated CMS designed to the specific needs of your business will save time and money by optimizing
                internal workflows.</p>
        </div>
    </div>
    <div style="text-align: center; margin-bottom: 50px; margin-top: 50px;">
        <a href="#" style="color: black;" class="link"><u>Schedule a free expert session</u></a>
    </div>
</div>
<div class="grid-container1">
    <div class="grid-item1">
        <img src="./assets/NG-Website.png" style="margin-left: 0px;" alt="web-devlopment" class="img1">
        </div>
    <div class="grid-item2">
    <h3 style="text-align: start; font-family: poppins-bold;">Become a digital stand-out with a 
        <br><span style="color: #51d12afd;">best-in-class web development company</span>
    </h3>
    <p style="text-align: start;">At Netguru, we offer every web development service you need to build a full-blown web-based product, such as:</p>
    <ul style="text-align: start; font-family: poppins-regular;">
        <li>Website Development</li>
        <li>Web Application Development</li>
        <li>eCommerce Solutions Development</li>
        <li>Dedicated Content Management System Development</li>
        <li>No-code Development & Low-code Development</li>
        <li>Ideation - Market Research - Wireframing - Prototyping</li>
        <li>Project Management - UI Design - UX Design - Coding - QA Testing</li>
        <li>Cybersecurity - Consulting - Publishing - Maintenance - Support</li>
    </ul>
    <p style="font-family: poppins-light; text-align: start;">The role of a web development company is to seek and build solutions that can best fulfill the client’s unique business goals. With the right web development services, you’ll be able to build a successful product from scratch or increase the performance of an existing one.</p>
</div>
